<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
  <%- include('./partials/nav.ejs') %> 
  <ul>
    <li><a href="/message/template">Create Message from Template</a></li>
    <li><a href="/message/custom">Create Custom Message</a></li>
  </ul>
</body>

</html>